<h1>Name: <%= @user.name %></h1>
<h2>Location: <%= @user.location %></h2>
<h2>Mission: <%= @user.bio %></h2>


<h2>Tell us something awesome <%=@user.name%> did to give them some Karma! </h2>

<h2>Users recent karma exchanges</h2>
<h2>Users D3 graphic</h2>
