<%= link_to "Home", events_path %>
<% if user_signed_in? %>
  <%= link_to "Profile", controller: "users", action: "show", id: current_user.id %>
<% end %>
<h1>Goodli Users</h1>
<% @users.each do |user| %>
<%= link_to user.name, controller: "users", action: "show", id: user.id %>
<% end %>
