
<div class='alert alert-danger' role='alert'>
  <% if @event.errors.messages[:title] != nil %>
    <p>Your title <%= @event.errors.messages[:title][0] %></p>
  <% end %>
  <% if @event.errors.messages[:location] != nil %>
    <p>Your location <%= @event.errors.messages[:location][0] %></p>
  <% end %>
  <% if @event.errors.messages[:description] != nil %>
    <p>Your description <%= @event.errors.messages[:description][0] %></p>
  <% end %>
</div>
