<center>
<h3><%= link_to @event.title, controller: "events", action: "show", id: @event.id %></h3>
    <h4>Creator: <%= link_to @event.host.name, controller: "users", action: "show", id: @event.host.id %></h4>
    <h4>Location: <%= @event.location %></h4>
    <h4>Date: <%= @event.date.in_time_zone("EST").to_formatted_s(:short) %> (EST) </h4>
</center>
