<h3><%= link_to @event.title, controller: "events", action: "show", id: @event.id %></h3>
  <ul>
    <h4><li>Creator: <%= link_to @event.host.name, controller: "users", action: "show", id: @event.host.id %></li></h4>
    <h4><li>Location: <%= @event.location %></li></h4>
    <h4><li>Date: <%= @event.date %> </li></h4>
  </ul>
