$(".new_event").append("<%= j render(:partial => 'events/event') %>");
var y = $(window).scrollTop();  //your current y position on the page
$(window).scrollTop(y-300);
$("#event_errors").html("<div class='alert alert-success' role='alert'>Your event has been created</div>")
