<% if user_signed_in? %>
  <%= link_to "Profile", controller: "users", action: "show" %>
<% end %>
<h1> Homepage </h1>
<h1>IMAGE GOES HERE</h1>
<h2>List of Events</h2>
<%= @event.each do |event| %>
<%= event %>
<% end %>
<h2>Event creation form</h2>
<%= render 'create' %>
<h2>Karma point index</h2>
